* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 4vw;
  background-color: rgba(0, 0, 0);
  position: fixed;
  top: 0px;
  z-index: 10;
  color: white;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: white;;
  font-weight: bold;
}

.new-post {
  text-decoration: none;
  margin-right: 3vw;
  color: white;;
}

.logout {
  text-decoration: none;
  color: white;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
}

.sign-up {
  text-decoration: none;
  color: white;
}