* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  background-color: #fff;
  color: black;
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 3px double lightgray;
}

.nav {
  font-size: 3vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 4vw;
  line-height: 8vh;
}

.top-page-header > .nav > .lists-left > i {
  color: #ff00ff;
}

.header-logo-name {
  color: #ff00ff;
  font-weight: bold;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-nickname {
  text-decoration: none;
  color: black;
  padding: 0 2vw;
  font-weight: bold;
  cursor: pointer;
}

.new-post {
  text-decoration: none;
  color: black;
  padding: 0 2vw;
}

.logout {
  text-decoration: none;
  color: black;
  padding-left: 2vw;
}

.login {
  text-decoration: none;
  color: black;
  padding: 0 2vw;
}

.sign-up {
  text-decoration: none;
  color: black;
  padding-left: 2vw;
}

.user-page-lists {
  font-size: 2vh;
  width: 11vw;
  position: absolute;
  top: 8vh;
  right: 25vw;
  background-color: #5c5c5c;
}

.hidden {
  display: none;
}

.user-page-lists > li {
  padding: 1vh 1vw;
  border-bottom: 1px solid white;
}

.my-page {
  color: white;
}

.my-profile {
  color: white;
}