.search-contents {
  background-color:gray;
  color: #fff;
  width: 18%;
  display: flex;
  flex-direction: column;
  padding: 13vh 1vw;
  border-right: 1px solid #f2f2f2;
  overflow-y: auto;
}

.side-title {
  text-align: center;
  font-size: 24px;
}

.search-btn-contents {
  margin-top: 3vh;
  text-align: center;
}

.search-btn {
  width: 5vw;
  cursor: pointer;
}

.sort-menu {
  margin-top: 3vh;
}

.sort-input {
  width: 15vw;
  padding: 0.5em 0 0.5em 0.5em;
  cursor: pointer;
}

.address-boxes {
  margin-top: 2vh;
}

.address-box {
  padding-top: 1vh;
}

.search-control {
  width: 14vw;
  padding-left: 0.5em;
  margin-right: 1vw;
  resize: none;
}

.search-sort {
  width: 14vw;
  padding: 0.25em 0 0.25em 0.5em;
  cursor: pointer;
}

.distances {
  margin-top: 3vh;
}

.distance-search {
  width: 8vw;
  text-align: right;
  padding-right: 0.3em;
  margin-right: 0.5vw;
  margin-top: 0.5vh;
  resize: none;
}

.check-boxes {
  margin-top: 1vh;
}

.check-box {
  padding-left: 1vw;
}

.check-box>p {
  padding-top: 2vh;
}

.keywords {
  margin-top: 3vh;
}

.search-input {
  width: 15vw;
  padding-left: 0.5em;
  resize: none;
}