<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
    <p class='second-fotter-text'>Run Share利用規約</p>
    <p class='second-fotter-text'>特定商取引に関する表記</p>
  </div>
  <p class="fa">
    <i class="fas fa-running fa-fw fa-flip-horizontal"></i>Run Share
  </p>
</footer>