/* 投稿一覧 */
.index-main {
  display: flex;
  height: 100vh;
}

.index-map-contents {
  background-color: #fff;
  width: 82%;
  display: flex;
  flex-direction: column;
  padding: 13vh 4vw;
  overflow-y: auto;
}

.index-map-contents>.subtitle {
  font-size: 24px;
  color: limegreen;
  font-weight: bold;
}

.index-map-contents>.pagination {
  margin-top: 2vh;
}

.map-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.map-lists>.map-list {
  width: 100%;
  margin-top: 2vh;
  background: linear-gradient(to bottom, #f0fff0, white);
}

.map-info {
  color: black;
  border: 1px solid limegreen;
  padding: 1vh 1vw;
  display: flex;
}

.post-left-contents {
  width: 30%;
  position: relative;
}

.post-right-contents {
  padding: 1em 0 1em 3%;
  width: 67%;
}

.map-name {
  font-size: 3vh;
}

.map-name-link {
  text-decoration: underline;
}

.map-distance {
  font-size: 3vh;
  margin-top: 1vh;
}

.map-btn {
  display: flex;
  align-items: center;
}

.map-comment {
  font-size: 2.5vh;
  padding: 2em 0.5em 1em;
  margin-top: 4vh;
  border: solid 1px lightgray;
  background-color: #fffff0;
  height: 7em;
  position: relative;
}

.map-comment .box-title {
  position: absolute;
  display: inline-block;
  top: -1px;
  left: -1px;
  font-size: 2.5vh;
  padding: 0 0.5em;
  background: gray;
  color: #ffffff;
  font-weight: bold;
}

.map-comment span {
  margin: 0;
  padding: 0;
}

/* //投稿一覧 */

/* ページネーション */
.pagination{
  display: flex;
  justify-content: flex-start;
}

.pagination span{
  width: 3em;
  background-color: #fff;
  text-align: center;
  border: solid 1px #ddd;
  margin-right: 0.3vw;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.pagination span.current{
  background-color: limegreen;
  color: #fff;
}

.pagination span:hover{
  background-color: #ddd;
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* //ページネーション */