/* 投稿詳細 */

.show-map-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-map-info {
  width: 50vw;
  background: linear-gradient(to bottom, #f0fff0, white);
  color: black;
  border: 1px solid limegreen;
  padding: 13vh 2vw 2vh;
}

.show-map-contents>.show-map-info>.subtitle {
  font-size: 24px;
  color: limegreen;
  border-bottom: 1px solid limegreen;
  font-weight: bold;
  text-align: center;
}

.show-user-name {
  position: relative;  /* 3点リーダー用 */
  font-size: 3vh;
  margin-top: 1vh;
}

.show-map-name {
  font-size: 3vh;
  text-decoration: underline;
  margin-top: 1vh;
}

.show-map-distance {
  font-size: 3vh;
  margin-top: 1vh;
}

.show-lists {
  border-collapse: collapse;
  border: 1px solid lightgray;
  width: 100%;
  margin: 3vh 0;
}

.show-list-head {
  border: 1px solid lightgray;
  padding: 0.3em;
  width: 50%;
  background-color: gray;
  color: #fff;
  text-align: center;
}

.answer-head {
  border: 1px solid lightgray;
  padding: 0.3em;
  width: 50%;
  background-color: gray;
  color: #fff;
  text-align: center;
}

.show-list {
  border: 1px solid lightgray;
  padding: 0.3em;
  width: 50%;
}

.answer {
  border: 1px solid lightgray;
  padding: 0.3em;
  width: 50%;
}

.map-btn {
  display: flex;
  align-items: center;
}

.show-map-comment {
  font-size: 2.5vh;
  padding: 2em 0.5em 1em;
  margin: 0.5em 0;
  border: solid 1px lightgray;
  background-color: #fffff0;
  position: relative;
}

.show-map-comment .box-title {
  position: absolute;
  display: inline-block;
  top: -1px;
  left: -1px;
  font-size: 2.5vh;
  padding: 0 0.5em;
  background: gray;
  color: #ffffff;
  font-weight: bold;
}

.show-map-comment span {
  margin: 0;
  padding: 0;
}

/* //投稿詳細 */

/* コメントフォーム */

.comment-container {
  width: 50vw;
  background: linear-gradient(to bottom, #f0fff0, white);
  color: black;
  border-left: 1px solid limegreen;
  border-right: 1px solid limegreen;
  padding: 3vh 1vw 13vh;
}

.comment-input {
  width: 100%;
  margin: 1vh 0;
  padding: 0.4em;
}

.comment-btn-contents {
  text-align: right;
}

.comment-btn {
  width: 10%;
  padding: 0.1em;
  cursor: pointer;
}

.comment-container>p {
  color: red;
  text-align: center;
}

.comments {
  margin-top: 1vh;
}

.comment-created-at {
  font-size: 0.8em;
  color: gray;
  margin-left: 1vw;
}

.comments-contents {
  padding: 0.5em;
  margin: 0.5em 0;
  border: solid 1px lightgray;
  background-color: #fffff0;
}

/* //コメントフォーム */