/* 投稿一覧 */

.user-show-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13vh 2vw;
}

.user-show-contents>.subtitle {
  font-size: 24px;
  color: limegreen;
  font-weight: bold;
}

.user-show-map-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2vh;
}

.user-show-map-lists>.user-show-map-list {
  width: 25vw;
  margin-right: 2vw;
  background: linear-gradient(to bottom, #f0fff0, white);
}

.user-show-map-info {
  color: black;
  padding: 1vh 1vw;
  border: 1px solid limegreen;
}

.user-show-user-name {
  position: relative;
}

.user-show-map-name {
  font-size: 3vh;
  text-decoration: underline;
}

.user-show-map-distance {
  font-size: 3vh;
  margin-top: 1vh;
}

.user-show-map-btn {
  display: flex;
  align-items: center;
}

.user-show-map-comment {
  font-size: 2.5vh;
  padding: 2em 0.5em 1em;
  margin: 0.5em 0;
  border: solid 1px lightgray;
  background-color: #fffff0;
  height: 7em;
  position: relative;
}

.user-show-map-comment .box-title {
  position: absolute;
  display: inline-block;
  top: -1px;
  left: -1px;
  font-size: 2.5vh;
  padding: 0 0.5em;
  background: gray;
  color: #ffffff;
  font-weight: bold;
}

.user-show-map-comment span {
  margin: 0;
  padding: 0;
}

/* //投稿一覧 */
