/* 投稿一覧 */

/* .index-map-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 10vh;
}

.index-map-contents>.subtitle {
  font-size: 3vh;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.map-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.map-lists>.list {
  width: 25vw;
  padding: 1vw;
  background-color: #FFF;
}

.map-info {
  background-color: #FFF;
  color: black;
  border: 1px solid #3ccace;
  padding: 1vh 1vw;
  position: relative;
}

.map-name {
  font-size: 3vh;
}

.map-distance {
  font-size: 3vh;
  margin-top: 1vh;
}

.map-btn {
  display: flex;
  align-items: center;
}

.map-comment {
  font-size: 2.5vh;
  padding: 2em 0.5em 1em;
  margin: 0.5em 0;
  border: solid 1px #FFC107;
  height: 7em;
  position: relative;
}

.map-comment .box-title {
  position: absolute;
  display: inline-block;
  top: -1px;
  left: -1px;
  font-size: 2.5vh;
  padding: 0 0.5em;
  background: #FFC107;
  color: #ffffff;
  font-weight: bold;
}

.map-comment span {
  margin: 0;
  padding: 0;
} */

/* //投稿一覧 */
